# ignore all by default
*

# config
!.config/
# nvim
!.config/nvim/
!.config/nvim/lua/
!.config/nvim/lua/config/
!.config/nvim/lua/config/**
!.config/nvim/lua/plugins/
!.config/nvim/lua/plugins/**
# tmux
!.config/tmux/
!.config/tmux/*.conf

# rc files
!/.zshrc
!/.gitignore
!/.p10k.zsh

# docs
!/README.md
